services:

  nextjs:
    build: 
      context: ../
      dockerfile: server/Dockerfile
    ports:
      - "3000:3000"
      - "80:3000"

    restart: always

  caddy:
    image: caddy:2-alpine
    restart: always
    ports:
      # - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - nextjs

volumes:
  caddy_data:
  caddy_config:
