name: Remote SSH Disnakertrans
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd /home/disnakertrans
            git reset --hard HEAD
            git pull 
            docker compose -f server/docker-compose.yml down
            docker compose -f server/docker-compose.yml up -d --build
            docker image prune -f
            docker system prune -f
